package {{ base_package }}.domain;

import {{ lib_prefix }}.jakarta.core.data.NexacroBase;

public class {{ pascal }} extends NexacroBase {

{% for f in fields %}
    private {{ f.java_type }} {{ f.field }};
{% endfor %}

{% for f in fields %}
    public {{ f.java_type }} {{ f.getter }}() { return {{ f.field }}; }
    public void {{ f.setter }}({{ f.java_type }} {{ f.field }}) { this.{{ f.field }} = {{ f.field }}; }

{% endfor %}
}
