package {{ base_package }}.mapper;

import java.util.List;
import java.util.Map;

public interface {{ pascal }}Mapper {
    List<Map<String, Object>> select_{{ entity_name }}_datalist_map(Map<String, String> searchMap);
    void insert_{{ entity_name }}_map(Map<String, Object> {{ entity_name }});
    void update_{{ entity_name }}_map(Map<String, Object> {{ entity_name }});
    void delete_{{ entity_name }}_map(Map<String, Object> {{ entity_name }});
}
